<mat-toolbar>
  <div fxFlex>
    <span style="margin: 20px 20px; font-size: 36px">喬桌子 ChatTable</span>
    <span class="flex-spacer"></span>
    <a mat-button routerLink="/form" routerLinkActive="active" style="bottom: 15%"><span class="fa fa-address-card fa-lg"></span> New Reservation</a>
  </div>
</mat-toolbar>

<div class="container" fxLayout="column" fxLayoutGap="10px">
  <span class="fa fa-calendar-o"> 查看當天訂位狀況</span>
    <mat-input-container class="date">
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="點右邊icon挑選想看的日期" name="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" #picker></mat-datepicker>
    </mat-input-container>
  <span><i>待完成：1連結日期，2只篩選出當天訂位資料，3排成關聯表，縱軸時間、橫軸人數/桌號</i></span>
</div>

<div class="o-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>
    <!--date column-->
    <ng-container matColumnDef="userDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> DATE </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.date}} </mat-cell>
    </ng-container>

    <!--time column-->
    <ng-container matColumnDef="userTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> TIME </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.time}} </mat-cell>
    </ng-container>
    
    <!--num column-->
    <ng-container matColumnDef="userNum">
      <mat-header-cell *matHeaderCellDef mat-sort-header> NUM </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.num}}人 </mat-cell>
    </ng-container>

    <!--name column-->
    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> NAME </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!--phone column-->
    <ng-container matColumnDef="userPhone">
      <mat-header-cell *matHeaderCellDef mat-sort-header> PHONE </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>